<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Cocktails brings <strong>skills</strong> to <strong>people</strong>!</h1>
    <p>Learn how to prepare a cocktail and impresion your firends with your skils ! :)</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>



<h1>All our cocktails !</h1>


<ul>

  <% @cocktails.each do |cocktail| %>

  <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>

  <% end %>
</ul>

<%= link_to "Add a new cocktail !", new_cocktail_path %>
